doctype html
html
  head
    title="Tasks"
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(charset="UTF-8")
  body
    ul.menu
      li
        a(href='/') Google Query
      li
        a(href='/users') User Posts Query
    block content
